.Home {
  width: 100%;
  height: 100%;
  align-items: center;
  .Header {
    background: #333;
    position: relative;
    width: 100%;
    padding-bottom: 2px;
    .HeaderWrapper {
      width: 1170px;
      margin: 0 auto;
    }
  }

  .Slider {
    width: 100%;
    background-color: #000;
    height: 440px;
    padding: 10px 0;
  }

  .ContainerSection {
    max-width: 1320px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    .ShopSection {
      min-height: 600px;
    }
    .FoodSection {
      min-height: 600px;
    }
  }
  .MenuSection {
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0;
    border-radius: 0;
    .header {
      padding-left: 20px;
      display: flex;
      .content {
        font-size: 20px;
        font-weight: 700;
        float: left;
      }
    }
  }
  .segment {
    margin: 0;
    border-radius: 0;
    background-color: #eee;
  }
  > div {
    &:first-child {
      padding: 0;
    }

    &:nth-child(2) {
      .slick-slider .slick-track {
        display: flex !important;
        width: 100% !important;

        .slick-slide {
          margin: 10px;
        }
      }
    }
  }
  .ShopCard {
    width: 100%;
    img {
      height: 200px !important;
    }
    .description {
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */
      display: block;
      display: -webkit-box !important;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
