.FoodManage {
  display: block;
  width: 100% !important;
  overflow: hidden;
  max-height: calc(100% - 100px);
  overflow-x: auto;
  height: 100%;
  position: relative;
  text-align: right;
  > .button {
    width: 200px;
  }

  .DataTable {
    height: calc(100% - 50px) !important;
    position: absolute !important;
    padding: 10px;
    th {
      height: 52px;
    }
    tbody {
      overflow: hidden !important;

      > div {
        overflow: hidden !important;
      }

      td {
        .button {
          padding: 0;
          height: 30px;
          width: 85%;
          color: #fff !important;
          opacity: 0.8;

          &:hover {
            opacity: 1;
          }

          &.Update {
            color: initial;
          }

          &.Hidden {
            color: initial;
          }
        }

        .FoodImage {
          width: 100px;
        }
      }
    }
  }
}
