.RestaurantDetail {
  min-width: 1200px;

  .Topbar {
    position: unset !important;
  }

  .Content {
    margin: 5px 10px;
    padding: 10px;
    border: 1px solid gray;
  }

  .TabMap {
    padding: 10px;

    .Map {
      height: 400px;
      width: 100%;
      border: 1px solid #d1d1d6;
    }
  }

  .Marker {
    width: 150px;
  }

  .Menu {
    display: flex;

    .ui.sidebar {
      position: relative;
      background: #f5f5f5 !important;

      height: auto !important;

      .item {
        color: #000 !important;
        font-weight: bold;
        border: 1px solid #e2e5de;

        &:nth-child(even) {
          border-bottom: none;
        }
      }
    }

    .RelativeFood {
      width: 100%;
    }
  }
}
