.SearchFood {
  width: 600px;

  .search {
    width: 600px;

    .input {
      width: 100%;
    }
    .results {
      max-height: 300px;
      width: 100%;
      overflow: auto;

      .result {
        .description {
          /* autoprefixer: off */
          -webkit-box-orient: vertical;
          /* autoprefixer: on */
          display: block;
          display: -webkit-box !important;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
