.DatePicker {
  height: 50px !important;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 36px;

  .Top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .DateTime {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      .Label {
        flex: 1;
        display: inline-block;
      }

      .react-datepicker-wrapper {
        display: block !important;
        flex: 2;
        float: right;
        width: 100%;

        .input {
          height: 32px;
          border-radius: 4px;
          width: 100%;
        }
      }
    }
  }

  .error {
    .prompt {
      &.label {
        width: 100%;
      }
    }
  }
}
