.ShopGrid {
  // padding-top: 60px;
  // padding-bottom: 40px;
  max-width: 1320px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  .main_title {
    margin-bottom: 25px;
    position: relative;
    h2 {
      font-size: 26px;
      font-size: 1.625rem;
      max-width: 600px;
      margin: 20px 0 0 0;
      color: #222;
      font-weight: 500;
      transition: all 0.3s ease-in-out;
    }
    p {
      max-width: 600px;
      font-size: 18px;
      font-size: 1.125rem;
      font-weight: 300;
    }
    a {
      position: absolute;
      right: 0;
      bottom: 0;
      font-weight: 500;
      color: #e54750;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      outline: none;
    }
  }
  .ShopGridSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: -15px;
    margin-left: -15px;
    column-gap: 30px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
