.FoodGrid {
  display: flex;
  flex-wrap: wrap;
  .cards {
    justify-content: center;
    margin: 0 !important;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    a {
      margin: 5px;
    }
  }
}
